<ul>
	<% TODOS.each_with_index do |todo, i| %>
		
		<% if todo.important %>

			<li class="text-danger">
				<% if todo.done %>
				<strike><%= todo.text %></strike>
				<a href='/reopen/<%= i %>'>Mark Active</a>
				<% else %>
					<%= todo.text %>
					<a href='/done/<%= i %>'>Mark Complete</a>
				<% end %>
			</li>

		<% else %>

			<li>
				<% if todo.done %>
				<strike><%= todo.text %></strike>
				<a href='/reopen/<%= i %>'>Mark Active</a>
				<% else %>
					<%= todo.text %>
					<a href='/done/<%= i %>'>Mark Complete</a>
				<% end %>
			</li>
			<% end %>

	<% end %>
</ul>

<form action ="/add" method="POST">
	<input type="text" name="todo" />
	<input type="checkbox" name="important" />
	<input type="submit" value="Add Todo" />
</form>